<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="{{ url_for('welcome') }}">Home</a></strong></li>
        </ul>
        <ul>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <main class="container">
        <div class="grid">
            <section>
                <h2>Individual Registration Form</h2>
                <form id="individualRegistrationForm" method="post" action="{{ url_for('process_individual_registration') }}">
                    {% csrf_token %}
                  
                    {{ form.as_p }}
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
</body>
</html>
